.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
}
.btn .icon {
  width: 2rem;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
}
