.footer {
  background: #232323;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}
.footer__brand {
  margin-top: 5rem;
  text-align: center;
}
.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
}
.footer .collapsible__heading {
}

@media screen and (min-width: 768px) {
  .footer .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
