:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: white;

  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}
.card {
  border-radius: 7px;
}
.list__item {
  color: blue;
}
.list list--tick {
  color: green;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}
.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}
.plan__price {
  font-size: 6rem;
}
.card card--secondary {
  background: var(--color-secondary);
  display: flex;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

.plan--popular {
  transform: scale;
}

.plan:hover {
  transform: scale(1.05);
}

.list list--tick {
  color: green;
}
.btn {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 0;
  border-radius: 15px;
}

.btn__outline {
  background: blue;
  color: seashell;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--accent {
  background: var(--color-accent);
  color: blue;
  border-color: blue;
}
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1*3 {
    grid-template-columns: repeat(3, 1);
  }
}
.block-plans .grid {
  gap: 4rem;
}
.block-plans .card {
  max-width: 500px;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(popular.jpg.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 5%;
}
