.block--dark {
  background: #000;
  color: #7b858b;
}
.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}
.block-showcase__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
}
.block--dark .block__heading {
  color: #fff;
}
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical)+4rem);
}
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical)+4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical)+4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
