.container{
    display:grid;
    grid-template:repeat(3,100px)/repeat(2,100px);
    row-gap:10px;
    gap:10px;
    border:3px solid lightgrey;
    height:100vh;
    align-items:center;

}
.box{
    width:5rem;
    height:5rem;
    background:gold;
    


}