body{
    margin:10px;
    height:200vh;
}
.box{
    width:5rem;
    height:5rem;
}
.box-one{
    background:gold;
}
.box-two{
background:tomato;
position:fixed;
top:0;
z-index:999999;

}

.box-three{
    background:dodgerblue;

}