.btn{
    font-size:1.8rem;
    font-weight:600;
    text-transform:uppercase;
    padding:2rem 3rem;
    border:0;
    border-radius:40px;
     cursor:pointer;
     white-space:nowrap;
}
.btn--primary{
    background: var(--color-primary);
    color:#fff;
}
.btn--primary:hover{
    background:darkblue;
}
.btn--secondary{
    background:var(--color-secondary);
    color:black;

}
.btn--accent{
    background:var(--color-accent);
    color:chocolate;
}